{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aidan's Resume Creator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/formStyle.css' %}">
    </head>
    <body>
        <a href="{% url 'login' %}"><button type="button">Login</button></a>
        <a href="{% url 'register' %}"><button type="button">Register</button></a>
        <a href="{% url 'example' %}"><button type="button">Example</button></a>
        <a href="{% url 'resume_index' %}"><button type="button">Resumes</button></a>
        <hr class="solid"/>
    </body>
</html>